/d/workspace/hello/scraping/results
/d/workspace/hello/scraping/results/images
/d/workspace/hello/scraping/results/data

/Users/mac/workspace/hello/scraping/results
/Users/mac/workspace/hello/scraping/results/images
/Users/mac/workspace/hello/scraping/results/data
