{% extends '../books/base.html' %}

{% block title %}
<title>Album List HTML</title>
{% endblock %}

{% block custom_css %}
<style>
    .thumbnail {
        border: 3px solid #ccc;
    }

    hr {
        margin: 0 0 20px 0;
    }

    img {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
    {% for item in object_list %}
        <div class="mt-5">
            <a href="{% url 'photo:album_detail' item.id %}" class="h2">{{ item.name }}</a>&emsp;
            <span class="font-italic h5">{{ item.description }}</span>
        </div>

        <hr>

        <div class="row">
            {% for photo in item.photo_set.all|slice:':5' %}
            <div class="ml-5">
                <div class="thumbnail">
                    <a href="{{ photo.get_absolute_url }}">
                        <img src="{{ photo.image.thumb_url }}" alt="" />
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}